# Python Assignment - 1

### Total - 30 marks

## Variables and data types

__Exercise 1 a)__ Create four variables and assign values with different data types to them

In [1]:
#int, float, String, boolean

# int

In [6]:
int(5)

5

# float

In [7]:
float(13.5)

13.5

# srting

In [14]:
"ashwinkumar"

'ashwinkumar'

# boolean

In [1]:
is_sunny = True
is_raining = False

In [2]:
if is_sunny:
    print("It's sunny outside. Enjoy the weather!")
else:
    print("It's not sunny today. Carry an umbrella, just in case.")

It's sunny outside. Enjoy the weather!

__Exercise 1 b)__ Print the variables using Python's built-in function print(_String_)

In [2]:
variable = "Hello, world!"

In [3]:
print(variable)

Hello, world!

__Exercise 1 c)__ Print the data type of each variable using Python's built-in function type()

In [1]:
a = 3
type(a)

int

In [2]:
b = 13.2
type(b)

float

In [4]:
c = "ashwinkumar"
type(c)

str

In [5]:
d = True
type(d)

bool

__Exercise 2__ How do we use variables? Explore with arithmetic operators (+, -, *, /)!

In [2]:
# Example
first_value = 3
second_value = 5

result = first_value + second_value
print(result)

8

In [9]:
apple_net = 15
mango_net = 30

total = apple_net + mango_net
print(total)

45

In [11]:
present = 60
tatal_students = 75

upsent_students = present - tatal_students
print(upsent_students)

-15

In [12]:
salary = 55000
months = 12

annual_salary = salary * months
print(annual_salary)

660000

In [13]:
annual_salary = 660000
months = 12

salary = annual_salary / months
print(salary)

55000.0

## Example: Lists

In [3]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'mango', 'grapes']

In [4]:
fruits[0]

'orange'

In [5]:
fruits[1]

'apple'

In [6]:
fruits[-1]

'grapes'

We can also specify a range of indexes specifying where to start and end the range

In [7]:
fruits[2:5]

['pear', 'banana', 'kiwi']

In [8]:
fruits[2:]

['pear', 'banana', 'kiwi', 'mango', 'grapes']

In [9]:
fruits[:2]

['orange', 'apple']

__Exercise 3 a)__ Create a list with names of your friends and print the name of the first, second and last person

In [3]:
name = ['aniket','ashwin','ashwini','kartik']

In [5]:
print(name)

['aniket', 'ashwin', 'ashwini', 'kartik']

In [7]:
print(name[0])
print(name[1])
print(name[3])

aniket
ashwin
kartik

__Exercise 3 b)__ Print your list of names using different ranges

In [18]:
print(name[1:4])

['ashwin', 'ashwini', 'kartik']

__Exercise 4 a)__ Count how many names you have added to the list using len(_[...]_)

In [36]:
print(len(name))

4

__Exercise 4 b)__ Add a new name to your list using append(_item_)

In [11]:
name.append("krushna")
print(name)

['aniket', 'ashwin', 'ashwini', 'kartik', 'krushna']

__Exercise 4 c)__ Print the list. Does it look as expected?

In [12]:
print(name)

['aniket', 'ashwin', 'ashwini', 'kartik', 'krushna']

__Exercise 4 d)__ Add a new name on the _third_ position in your list using insert(_position_, _item_)

In [13]:
name.insert(2, "janvi")
print(name)

['aniket', 'ashwin', 'janvi', 'ashwini', 'kartik', 'krushna']

__Exercise 4 e)__ Print the list. Does it look as expected?

In [14]:
print(name)

['aniket', 'ashwin', 'janvi', 'ashwini', 'kartik', 'krushna']

__Exercise 4 f)__ Remove a name from the list using remove(_item_)

In [15]:
name.remove("kartik")
print(name)

['aniket', 'ashwin', 'janvi', 'ashwini', 'krushna']

__Exercise 4 g)__ Print the list. Does it look as expected?

In [16]:
print(name)

['aniket', 'ashwin', 'janvi', 'ashwini', 'krushna']

# Example: For loops

In [ ]:
for fruit in fruits:
    print(fruit)

orange
apple
pear
banana
kiwi
mango
grapes

In [11]:
for fruit in fruits:
    fruit = fruit + 's'
    print(fruit)

oranges
apples
pears
bananas
kiwis
mangos
grapess

__Exercise 5 a)__ Print each name in your list of names

In [25]:
colors = ["red", "green", "blue", "yellow"]

In [26]:
for color in colors:
    print(color)

red
green
blue
yellow

__Exercise 5 b)__ Add a small change to each name in your list

In [27]:
for color in colors:
    color = color + 's'
    print(color)

reds
greens
blues
yellows

# Example: Dictionaries

In [12]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}

In [13]:
capital = countries["sweden"]
print(capital)

stockholm

__Exercise 6 a)__ Get the capital of Denmark and Norway using the dictionary _countries_

In [19]:
contries = {"Denmark" : "Copenhagen", "Norway" : "Oslo"}

In [11]:
capital = contries["Denmark"]
print(capital)

Copenhagen

In [12]:
capital = contries["Norway"]
print(capital)

Oslo

__Exercise 6 b)__ Add a new key-value pair to the dictionary _countries_

In [11]:
countries = {"Denmark" : "Copenhagen", "Norway" : "Oslo"}

In [20]:
countries["Sweden"] = "Stockholm"
print(countries)

{'Denmark': 'Copenhagen', 'Norway': 'Oslo', 'Sweden': 'Stockholm'}

__Exercise 6 c)__ Print the dictionary. Does it look as expected?

In [17]:
print(countries)

{'Denmark': 'Copenhagen', 'Norway': 'Oslo', 'Sweden': 'Malmo'}

__Exercise 6 d)__ Update Sweden's capital to Malmo

In [14]:
countries["Sweden"] = "Malmo"

In [15]:
print(countries)

{'Denmark': 'Copenhagen', 'Norway': 'Oslo', 'Sweden': 'Malmo'}

__Exercise 6 e)__ Print the dictionary. Does it look as expected?

In [16]:
print(countries)

{'Denmark': 'Copenhagen', 'Norway': 'Oslo', 'Sweden': 'Malmo'}

__Exercise 6 f)__ Remove the key-value pair Sweden-Stockholm from the dictionary

In [21]:
del countries["Sweden"]
print(countries)

{'Denmark': 'Copenhagen', 'Norway': 'Oslo'}

__Exercise 6 g)__ Print the dictionary. Does it look as expected?

In [22]:
print(countries)

{'Denmark': 'Copenhagen', 'Norway': 'Oslo'}

__Exercise 6 g)__ Print each key-value pair in the dictionary countries

In [14]:
for key, value in countries.items():
    print(f"Country: {key}, Capital: {value}")

Country: sweden, Capital: stockholm
Country: denmark, Capital: copenhagen
Country: norway, Capital: oslo

# Example: Functions

In [ ]:
def function_name(param1, param2):
    # Block of code

We will start with creating a function that can add two numbers.

In [ ]:
def add_two_numbers(number1, number2):
    result = number1 + number2
    return result

Let's try to use it!

In [ ]:
add_two_numbers(1,2)

In [ ]:
add_two_numbers(5,20)

__Exercise 7 a)__ Create a function that can calculate the difference between two numbers

In [6]:
def absolute_difference(num1, num2):
    # Use the abs function to get the absolute value of the subtraction
    result = abs(num1 - num2)
    # Return the result
    return result

In [9]:
absolute_difference(10, 5)

5

__Exercise 7 b)__ Use the function. Does it return the expected results?

In [10]:
absolute_difference(20, 5)

15

__Exercise 7 c)__ Create a function that can multiply two numbers

In [14]:
def multiply_num(num1, num2):
    result = (num1 * num2)
    return result

In [15]:
multiply_num(10, 5)

50

__Exercise 7 d)__ Use the function. Does it return the expected results?

In [16]:
multiply_num(5, 5)

25

__Exercise 7 e)__ Create a function that can divide two numbers

In [17]:
def divide_num(num1, num2):
    result = (num1 / num2)
    return result

In [18]:
divide_num(100, 4)

25.0

__Exercise 7 f)__ Use the function. Does it return the expected results?

In [19]:
divide_num(20, 2)

10.0